<div class="h-fit pt-4 pb-4">
  @if (loading()) {
  <div class="flex justify-center items-center h-full">
    <fa-icon icon="circle-notch" animation="spin" class="text-gray-500-600 text-4xl"></fa-icon>
  </div>
  } @else { @if (users()?.length) {
  <div class="dashboard-grid">
    @for (user of users(); track user.publicId) {
    <app-user-card [user]="user" (updateUserClick)="onUpdateUserClick($event)"></app-user-card>
    }
  </div>
  } @else {
  <div class="flex justify-center items-center h-full">
    <h2>No users were found.</h2>
  </div>
  } }
</div>
<app-view-user-details [sidebarVisible]="rightSidebarVisible()" [user]="userToShow()" (sidebarVisibleChange)="onSidebarVisibleChange($event)"></app-view-user-details>
