@import '../../shared/styles/variables.scss';

.navbar {
  height: 6.5vh;
  margin-left: 0;
  background-color: $secondaryColor;
  border-bottom: 2px inset $thirdColor;

  .navbar-container {
    padding: 0 3rem;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    .profile-info {
      display: flex;
      gap: 4px;
      justify-content: center;
      align-items: center;
    }

    .profile-info-details {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  &.with-sidebar-collapsed {
    margin-left: 5rem;
  }

  &.trimmed {
    margin-left: 16.875rem;
  }
}
