.span-link {
  font-size: 0.85rem;
  color: #4a90e2;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
